/* // Extra small devices (portrait phones, less than 576px) */
@media all and (max-width: 575.98px) {
    @font-face {
        font-family: 'Raleway';
        src: url(Raleway-Italic-VariableFont_wght.ttf);
        src: url(Raleway-VariableFont_wght.ttf) format('truetype');
        src: url('Raleway-VariableFont_wght.ttf') format('eot');
    }

    #bloc_page {
        font-family: 'Raleway', Arial, serif;
        width: 100%;
        margin: auto;
        background-color: rgb(160, 249, 255);
    } 

    /* header */
    header { 
        background-color: rgb(235, 181, 208); 
        width: 100%; 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between;
    }
    
    header div {
        order: -3;
    }

    #Inscrire {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex: 1;
        order: -1;
        background-color: yellowgreen;
    }

    header a {
        font-size: 1em;
    }
    
    .Menu ul {
        padding: 0;
    }

    .Menu li {
        display: flex;
        justify-content: center;
        flex: 2;
        order: 2;
        background-color: rgb(229, 151, 151);
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #0065FC;
    }

    #activite {
        border-bottom: 2px solid rgb(236, 236, 236);
    }
     
    /*Section de recherche*/

    h1 {
        font-size: 1.5em;
        padding-left: 15px;
        width: 80%;
    }

    h2 {
        font-size: 1.1em;
        font-weight: normal;
        padding-bottom: 5px;
        padding-left: 15px;
    }
 
    /*Formulaire*/

    #Formulaire {
        display: none;
    }

    #Loupe {
        visibility: visible !important;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        width: 350px;
        height: 50px;
    }

    #Loupe form {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }

    #Loupe form span {
        border-radius: 15px 0 0 15px;
        width: 20%;
    }

    .recherche {
        width: 80%;
        border: none;
        color: rgb(65, 65, 65);
        font-size: 1em;
        font-weight: bold;
        padding-left: 15px;
    }

    .fa-map-marker-alt {
        font-size: 20px;
    }

    button {
        position: relative;
        right: 10px;
    }

    .submit {
        border-radius: 12px 12px 12px 12px;
        font-size: 1.2em;
        width: 20%;
    }
    
    /* Filtres */
    .logements {
        width: 84%;
        padding-left: 15px;
    }

    #Filtre {
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    #Filtre h4 {
        width: 100%;
        height: auto;
        padding-left: 15px;
        font-size:  1.2em;
        margin-top: 0;
        margin-bottom: 0;
    }

    #Filtre li {
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        border-radius: 50px;
        padding-right: 5px;
    }

    #Filtre a {
        font-size: 1.1em;
    }

    .Rond {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: 40px;
        height: 40px;
    }

    /* 500 logements */
    .fa-info {
    font-size: 15px;
    color:  #0065FC;
    padding: 6px;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 50px;
    width: 20px;
    height: 15px;
    margin-right: 15px;
    }

    .logements h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: sandybrown;
    }


/* Footer */

#Bas {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #F2F2F2;
}

footer li {
    list-style-type: none;  
    line-height: 30px;
}

footer h4 {
    text-align: left;
    text-indent: 40px;
}

footer a {
    text-decoration: none;
    color: black;
}

#Charte, #Contact {
    margin-left: 15%;
    text-align: left;
}
}