/*------------------- Police -------------------*/
@font-face {
    font-family: 'Raleway';
    src: url(Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway-VariableFont_wght.ttf) format('truetype');
    src: url('Raleway-VariableFont_wght.ttf') format('eot');
}

#bloc_page {
    font-family: 'Raleway', Arial, serif;
    width: 80%;
    margin: auto;
} 

/*------------------- Header -------------------*/

header {
    display: flex;
    align-items: center;
}

#Logo {
    width: 80%;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 0.9em;
}

nav ul li, #Inscrire {
    padding-left: 25px;
}

#Inscrire {
    font-weight: bold;
    color: #0065FC;
}

nav a:hover {
    padding-top: 20px;
    border-top: 2px solid #0065FC;
}

/* Mobile */

#Loupe {
    display: none;
}

/*Section de recherche*/

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 0.9em;
    font-weight: normal;
    padding-bottom: 5px;
}

/*Formulaire*/

form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
}

form p {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    display: flex;
}

form span {
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-map-marker-alt {
    font-size: 12px;
}

.recherche {
    width: 100%;
    border: none;
    border: 1px solid #F2F2F2;
    color: rgb(65, 65, 65);
}

.submit {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 0.8em;
    width: 50%;
    border: none;
}

 .submit:hover {
        cursor: pointer;
    }

/* Filtres */

#Filtre {
    width: 80%;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

#Filtre h4 {
    padding-left: 12px;
}

#Filtre li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
}

#Filtre a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 0.8em;
    padding-left: 10px;
    margin-right: 6px;
    font-weight: bold;
}

#Filtre a:hover {
    color: #0065FC;
}

.Rond {
    position: relative;
    text-align: center;
    font-size: 10px;
    color:  #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

/* 500 logements */
.fa-info {
    text-align: center;
    font-size: 10px;
    color:  #0065FC;
    padding: 3px;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

/* Hebergement */
.grandediv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: nowrap;
    object-fit: contain;
    width: 100%;
    height: auto;
}

.heber {
    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    background-color:  #F2F2F2;
    padding: 15px;
    flex-basis: 64%;
    width: 50vw;
    height: auto;
}

.six {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.six a {
    text-decoration: none;
    color: black;
}

.card {
    flex-basis: 25%;
    width: 13vw;
    height: auto;
    margin: 10px;
    object-fit: contain;
    border: 5px solid white;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

.card h4 {
    position: relative;
    left: 10px;
    top: -10px;
}

.card .legende, .fa-star {
    position: relative;
    top: -10px;
    left: 10px;
    padding: -20px;
    line-height : 0em;
}

.card p, .fa-star {
    font-size: 0.9em;
}

.fa-star {
    color: #0065FC;
}

.Images, .Images2 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 13vw;
    height: 12vh;
}

/* Les plus populaires */
.populaire {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-basis: 30%;
    width: 24vw;
    height: auto;
    border-radius: 20px;
    background-color:  #F2F2F2;
}

.titre {
    width: 88%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
}

.carte {
    display: flex;
    width: 18vw;
    height: 15.5vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    margin-bottom: 4vh;
}

.texti {
    margin-left: 10px;
    margin-top: -18px;
}

.etoile {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.5vh;
}

.Images3 {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    padding: 5px;
    width: 7vw;
    height: auto; 
}

.populaire a {
    text-decoration: none;
    color: black;
}

.fa-chart-line {
    font-size: 1.5em;
    width: 1.6vw;
    padding-right: 3px;
} 

.legendeux {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 8vw;
    height: auto;
}

.legendeux p {
    position: relative;
    margin-top: -25px;
    padding-top: 0;
}

.legendeux, .fa-star {
    font-size: 0.9em;
}

/* Activites a Marseille */

.sextuor {
    display: flex;
    flex-flow: row wrap;
    object-fit: contain;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-bottom: 18px;
}

.sextuor a {
    color: black;
    text-decoration: none;
}

.grand {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 16vw;
    height: 45vh;
    object-fit: contain;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    border-radius: 30px;
}

.duo {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    object-fit: contain;
    margin: 5px;
    width: 17vw;
    height: auto;
    margin-top: 0;
} 

.deux, .pom, .fri {
    object-fit: contain;
    width: 17vw;
    height: auto;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    border-radius: 25px;
    background-color: white;
    margin-top: 0;
}

.pom {
    width: 17vw;
    height: 23vh;
}

.fri {
    width: 17vw;
    height: 16vh;
}

.grand h4, .duo h4 {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 0.9vw;
}

/* effet */

.grand img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 16vw;
    height: 39vh;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11);
}

.deux:hover, .grand:hover, .pom:hover, .fri:hover {
    transform: rotate(5deg);
}

.deux img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 17vw;
    height: 13vh;
}

.pom img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 17vw;
    height: 16vh;
}

.fri img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 17vw;
    height: 10vh;
}

/* Footer*/
#Bas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 20px;
        background-color: #F2F2F2;
    }

    footer h4 {
        text-indent: 40px;
    }
    
    footer a {
        text-decoration: none;
        color: black;
    }
    
    footer li {
        list-style-type: none;  
        line-height: 30px;
    }
    
    #Propos {
        margin-left: -30px;
    }
    
    #Charte, #Contact {
        padding-left: 0;
    }


