/* Maquette Desktop */

/*------------------- Police -------------------*/
@font-face {
    font-family: 'Raleway';
    src: url(Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway-VariableFont_wght.ttf) format('truetype');
    src: url('Raleway-VariableFont_wght.ttf') format('eot');
}

#bloc_page {
    font-family: 'Raleway', Arial, serif;
    width: 80%;
    margin: auto;
} 

/*------------------- Header -------------------*/

header {
    display: flex;
    align-items: center;
}

#Logo {
    width: 60%;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 0.8em;
}

nav ul li, #Inscrire {
    padding-left: 25px;
}

#Inscrire {
    font-weight: bold;
    color: #0065FC;
}

nav a:hover {
    padding-top: 20px;
    border-top: 2px solid #0065FC;
}

/* Mobile */

#Loupe {
    display: none;
}

/*Section de recherche*/

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 0.9em;
    font-weight: normal;
    padding-bottom: 5px;
}

/*Formulaire*/

form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
}

form p {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    display: flex;
}

form span {
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-map-marker-alt {
    font-size: 12px;
}

.recherche {
    width: 100%;
    border: none;
    border: 1px solid #F2F2F2;
    color: rgb(65, 65, 65);
}

.submit {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 0.8em;
    width: 50%;
    border: none;
}

/* Filtres */

#Filtre {
    width: 80%;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

#Filtre li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
}

#Filtre a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 0.8em;
    padding-left: 10px;
    margin-right: 6px;
    font-weight: bold;
}

#Filtre a:hover {
    color: #0065FC;
}

.Rond {
    position: relative;
    text-align: center;
    font-size: 10px;
    color:  #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}


/* 500 logements */
.fa-info {
    text-align: center;
    font-size: 10px;
    color:  #0065FC;
    padding: 3px;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

/* Hebergement */
.Grandediv {
    display: flex;
    flex-direction: row;
    object-fit: contain;
    width: 100%;
    height: auto;
}

.Conteneur {
    margin-right: 45px;
    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    background-color:  #F2F2F2;
    padding: 30px;
    width: 52vw;
    height: auto;
    background-color: peru;
}

.six {
    display: flex;
    flex-direction: row;
}

.six a {
    text-decoration: none;
    color: black;
}

.Card {
    width: 14vw;
    height: auto;
    padding: 5px;
    margin: 15px;
    object-fit: contain;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

.Card h4, .legende, .fa-star {
    position: relative;
    top: -10px;
    left: 10px;
    padding: -20px;
    line-height : 0em;
}

.Card p, .fa-star {
    font-size: 0.9em;
}

.fa-star {
    color: #0065FC;
}

.Images, .Images2 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 14vw;
    height: 14vh;
}

/* Les plus populaires */
.Conteneur2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    width: 20vw;
    height: auto;
    padding: 25px;
    border-radius: 20px;
    background-color:  #F2F2F2;
}

.Card2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 19vw;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
}

.Images3 {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin-right: 15px;
    padding: 5px;
    width: 7vw;
    height: 16vh; 
}

.titre {
    display: flex;
    justify-content: space-between;
}

.Conteneur2 a {
    text-decoration: none;
    color: black;
}

.fa-chart-line {
    position: relative;
    top: 25px;
    right: 25px;
    font-size: 1.5em;
}

.legende2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8vw;
    height: 15vh;
}

.legende2 p {
    position: relative;
    margin-top: -25px;
    padding-top: 0;
}

.legende2, .fa-star {
    font-size: 0.9em;
}

/* Activites a Marseille */

.Conteneur3 {
    display: flex;
    flex-flow: row wrap;
    object-fit: contain;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.Conteneur3 a {
    color: black;
    text-decoration: none;
}

.G1 {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 21.5%;
    height: 100%;
    object-fit: contain;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    border-radius: 30px;
}

/* effet */

.G2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    object-fit: contain;
    margin: 5px;
    width: 23%;
    height: 100%;
}

.deux {
    object-fit: contain;
    height: 80%;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 5px 5px 5px rgb(230, 230, 230);
    border-radius: 25px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 45px;
}

.G1 h4, .deux h4 {
    margin-left: 20px;
}

.G1 img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 16.9vw;
    height: 40vh;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11);
}

.G1:hover {
    border:3px double #0065FC;
    color:  #0065FC;
}

.deux:hover {
    transform: rotate(5deg);
}

.G2 img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 17vw;
    height: 13.5vh;
}

/* Footer */


#Bas {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    background-color: #F2F2F2;
}

footer h4 {
    text-indent: 40px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer li {
    list-style-type: none;  
    line-height: 30px;
}

#Charte, #Contact {
    padding-left: 170px;
}
