
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 1025px) { 
    @font-face {
        font-family: 'Raleway';
        src: url(Raleway-Italic-VariableFont_wght.ttf);
        src: url(Raleway-VariableFont_wght.ttf) format('truetype');
        src: url('Raleway-VariableFont_wght.ttf') format('eot');
    }

    #bloc_page {
        font-family: 'Raleway', Arial, serif;
        width: 80%;
        margin: auto;
        background-color: rgb(214, 197, 245);
    } 

    /* Header */
    header {
        display: flex;
    }
    
    #Logo {
        padding-left: 15px;
        width: 10vw;
    }

    header a {
        font-size: 1em;
    }
    
    nav a:hover {
        padding-bottom: 5px;
        border-bottom: 2px solid #0065FC;
        padding-top: 0;
        border-top: 0 solid #0065FC;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    #Inscrire { 
        padding-right: 25px;
    }
    
    /*Section de recherche*/
    
    #Rechercher h1, h2, #Formulaire, #Filtre {
        display: flex;
        justify-content: center;
        width: 100%;
        object-fit: contain;
    }

    h1 {
        font-size: 1.1em;
    }

    h2 {
        font-size: 1em;
        font-weight: normal;
        padding-bottom: 5px;
    }

    /*Formulaire*/

    .fa-map-marker-alt {
        font-size: 18px;
    }

    #Formulaire {
        display: none;
    }

    #Loupe {
        visibility: visible !important;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        display: flex;
        justify-content: center;
    }

    #Loupe form {
        width: 50vw;
        height: 5vh;
        margin: 0;
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    #Loupe form span {
        border-radius: 15px 0 0 15px;
        width: 10%;
    }

    .recherche {
        width: 25vw;
        border: none;
        color: rgb(65, 65, 65);
        font-size: 1em;
        font-weight: bold;
        padding-left: 15px;
        border: 1px solid #F2F2F2;
    }

    .fa-map-marker-alt {
        font-size: 20px;
    }

    button {
        position: relative;
        right: 13px;
    }

    .submit {
        border-radius: 0 12px 12px 0;
        font-size: 1.2em;
        width: 5vw;
    }
    
    /* Les plus populaires */
    .populaire {
        flex: 2;
        order: -2;
        width: 60vw;
        padding: 15px;
        margin-bottom: 25px;
        align-items: center;
    }

    .fa-chart-line {
        right: 50px;
        top: 30px;
    }

    .carte {
        width: 50vw;
        margin: 5px;
        object-fit: contain;
    }
    .legendeux {
        display: flex;
        object-fit: contain;
        flex-direction: column;
        margin-top: 0;
        width: 30vw;
        height: auto;
        margin-top: 0;
    }
    
    .populaire a {
        padding-bottom: 10px;
    }
    .Images3 {
        width: 18vw;
        height: 16vh; 
    }
    

    /* Hebergement */
    .grandediv {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .heber {
        flex: 1;
        order: 1;
        width: 72vw;
        margin-top: 10px;
        margin-right: 0;
        padding: 15px;
        border: 0;
        background-color: #F2F2F2;
    }

    .heber h3 {
        justify-content: center;
        align-items: center;
    }
    
    .legendeux {
        flex-wrap: wrap;
    }

    .card h4 {
        font-size: 0.9em;
    }

    .six {
        background-color: yellow;
    }

    .card {
        width: 22vw;
        background-color: yellowgreen;
    }
    
    .Images, .Images2 {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width: 22vw;
        height: 10vh;
    }

    /* Footer */
    #Bas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 20px;
        background-color: #F2F2F2;
    }
    
    footer h4 {
        text-indent: 40px;
    }
    
    footer a {
        text-decoration: none;
        color: black;
    }
    
    footer li {
        list-style-type: none;  
        line-height: 30px;
    }
    
    #Propos {
        margin-left: -20px;
    }
    
    #Charte, #Contact {
        padding-left: 0;
    }
    
    /*
    .six {
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: baseline;
    }

    .card {
        width: 45vw;
        box-shadow: 5px rgb(230, 230, 230);
    }

    .card p {
        font-size: 1em;
    }

    .Images, .Images2 {
       object-fit: cover;
       border-radius: 20px 20px 0 0;
       width: 45vw;
       height: 16vh;
   } */
    /* Les plus populaires
    .populaire {
        flex: 1;
        order: -2;
        margin-right: 25px;
        padding: 20px;
    }

    .carte {
        width: 28vw;
        margin: 5px;
        object-fit: contain;
    }
    
    .legendeux {
        display: flex;
        object-fit: contain;
        flex-direction: column;
        margin-top: 0;
        width: 15vw;
        height: auto;
    }
     
    .Images3 {
        width: 9vw;
    height: 16vh; 
    }

    /* Les plus populaires
    .populaire {
        flex: 1;
         order: -2;
         width: 32vw;
         padding: 15px;
         margin-right: 20px;
    }

    .populaire a {
        padding-bottom: 5px;
    }

   .fa-chart-line {
       right: 10px;
       top: 40px;
   }

   .legendeux h4 {
       font-size: 1.2em;
       margin-top: 15px;
       margin-bottom: 0;
   }
    
   .legendeux p {
       position: relative;
       margin-top: 5px;
       font-size: 1em;
   }

   .legendeux {
       display: flex;
       object-fit: contain;
       flex-direction: column;
       margin-top: 0;
       width: 15vw;
       height: auto;
       margin-top: 0;
   }

   .etoile .fa-star {
       position: relative;
       padding-top: 35px;
       align-content: flex-end;
   }

   .carte {
        width: 31vw;
        margin: 5px;
        object-fit: contain;
    }

    .Images3 {
        width: 10vw;
        height: 18vh; 
    }
    
    /* hebergements
    .grandediv {
        display: flex;
    }

    .heber {
        border: 1px solid  #F2F2F2;
        border-radius: 20px;
        background-color:  #F2F2F2;
        padding: 30px;
        width: 50vw;
        height: auto;
    }
    

    /* Les plus populaires 18/03
    .titre h3 {
        margin-bottom: 5px;
        padding-bottom: 10px;
    }

    .populaire {
         flex: 1;
         order: -2;
         width: 30vw;
         padding: 5px;
         margin-bottom: 25px;
         align-items: center;
     }

     .populaire a {
         padding-bottom: 10px;
     }

    .fa-chart-line {
        right: 40px;
        top: 40px;
    }

    .legendeux h4 {
        font-size: 1.2em;
        margin-top: 15px;
        margin-bottom: 0;
    }
     
    .legendeux p {
        position: relative;
        margin-top: 5px;
        font-size: 1em;
    }

    .legendeux {
        display: flex;
        object-fit: contain;
        flex-direction: column;
        margin-top: 0;
        width: 40vw;
        height: auto;
        margin-top: 0;
    }

    .etoile .fa-star {
        position: relative;
        padding-top: 35px;
        align-content: flex-end;
    }

    .carte {
         width: 40vw;
         margin: 5px;
         object-fit: contain;
     }

     .Images3 {
        width: 16vw;
        height: 16vh; 
     }
    
    /* Hebergements a M 
    .grandediv {
        flex-direction: row;
        background-color: orange;
    }

    .heber h3 {
        padding-left: 10px;
        padding-top: 10px;
    }

    .heber h4 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0;
    }

    .heber {
         flex: 1;
         order: 1;
         width: 60vw;
         margin-top: 10px;
         margin-right: 0;
         padding: 10px;
         border: 0;
         background-color: #F2F2F2;
     }

     .six {
         padding: 0;
         margin: 0;
         flex-wrap: wrap;
     }

     .card {
         width: 35vw;
         box-shadow: 5px rgb(230, 230, 230);
     }

     .card p {
         font-size: 1em;
     }

     .Images, .Images2 {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width: 55vw;
        height: 16vh;
    }


    /* .Grandediv {
        display: flex;
        flex-direction: column;
    }

    .Grandediv .Conteneur {
        flex-wrap: wrap;
        padding: 0;
        width: 90vw;
        background-color: rgb(9, 255, 0);
    }

    .Conteneur {
        background-color: powderblue;
        width: 75vw;
        height: auto;
        padding: 20px;
        background-color: peru;
    }

    .Card {
          width: 25vw;
          height: auto;
    }

    .Images, .Images2 {
        width: 25vw;
    }

    /* Les plus populaires
    .Conteneur2 {
        background-color: powderblue;
        width: 45vw;
        margin-top: 40px;
        margin-bottom: 40px;
        flex: 1;
        order: 2;
        float: right;
    }

    .Card2 {
        width: 40vw;
        margin-bottom: 20px;
        background-color: peru;
    }

    .Images3 {
        width: 27vw;
        height: 20vh; 
    }

    .legende2 {
        width: 30vw;
    } */

    /* Activite */
   


 }