
/* // Medium devices (tablets, 769px and up) */
@media (min-width: 769px) and (max-width: 1025px) { 
    @font-face {
        font-family: 'Raleway';
        src: url(Raleway-Italic-VariableFont_wght.ttf);
        src: url(Raleway-VariableFont_wght.ttf) format('truetype');
        src: url('Raleway-VariableFont_wght.ttf') format('eot');
    }

    #bloc_page {
        font-family: 'Raleway', Arial, serif;
        width: 80%;
        margin: auto;
    } 

    /* Header */
    header {
        display: flex;
    }
    
    #Logo {
        padding-left: 15px;
        width: 10vw;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    header a {
        font-size: 1em;
    }

    #Inscrire { 
        padding-right: 25px;
    }

    nav a:hover {
        padding-bottom: 0;
        border-bottom: none;
        padding-top: 0;
        border-top: none;
    }
    
    /*Section de recherche*/
    
    #Rechercher h1, h2, #Formulaire, #Filtre {
        display: flex;
        justify-content: center;
        width: 100%;
        object-fit: contain;
    }

    h1 {
        font-size: 1.1em;
    }

    h2 {
        font-size: 1em;
        font-weight: normal;
        padding-bottom: 5px;
    }

    /*Formulaire*/

    .fa-map-marker-alt {
        font-size: 18px;
    }

    #Formulaire {
        display: none;
    }

    #Loupe {
        visibility: visible !important;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        display: flex;
        justify-content: center;
    }

    #Loupe form {
        width: 50vw;
        height: 5vh;
        margin: 0;
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    #Loupe form span {
        border-radius: 15px 0 0 15px;
        width: 10%;
    }

    .recherche {
        width: 25vw;
        height: 5vh;
        border: none;
        color: rgb(65, 65, 65);
        font-size: 1em;
        font-weight: bold;
        padding-left: 15px;
        border: 1px solid #F2F2F2;
    }

    .fa-map-marker-alt {
        font-size: 20px;
    }

    button {
        position: relative;
        right: 13px;
    }

    .submit {
        border-radius: 0 12px 12px 0;
        font-size: 1.2em;
        width: 5vw;
        height: 5vh;
    }

    .submit:hover {
        cursor: inherit;
    }
    
    /* Filtres */
    #Filtre a:hover {
        color: inherit;
    }

    .logements {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .logements h4 {
        padding-left: 12px;
        display: flex;
        margin-bottom: 0;
    }

    /* Les plus populaires */
    .populaire {
        flex: 2;
        order: -2;
        width: 60vw;
        padding: 15px;
        margin-bottom: 25px;
    }
    
    .titre {
        width: 85%;
    }

    .titre h3 {
        font-size: 1.1em;
    }

    .fa-chart-line {
        right: 50px;
        top: 30px;
        position: absolute;
        font-size: 1.5em;
        width: 40px;
    }

    .carte {
        width: 50vw;
        margin: 5px;
        object-fit: contain;
    }

    .legendeux {
        display: flex;
        object-fit: contain;
        flex-direction: column;
        margin-top: 0;
        width: 30vw;
        height: auto;
        margin-top: 0;
    }

    .legendeux h4 {
        font-size: 1.1em;
    }

    .legendeux p {
        font-size: 1em;
    }
    
    .populaire a {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .Images3 {
        width: 18vw;
        height: auto; 
    }
    
    /* Hebergement a M */
    .grandediv {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .heber {
        flex: 1;
        order: 1;
        width: 60vw;
        padding: 15px;
    }
    
    .heber h3,.heber h5, .act h3 {
        position: relative;
        left: 44px;
        width: 77%;
        font-size: 1.1em;
    }

    .heber h4 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        padding: 0;
        font-size: 1.1em;
    }

    .six {
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }

    .card {
        width: 50vw;
    }

    .card p {
        font-size: 1em;
    }

    .Images, .Images2 {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width: 50vw;
        height: 16vh;
    }
    /* Activite a M */
    .act {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .sextuor {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60vw;
        height: auto;
    }

    .sextuor a {
        height: 23vh;
    }

    .sextuor .duo h4 {
        position: relative;
        top: -5px;
    }

    .grand {
        flex-flow: column wrap;
        width: 27vw;
        height: 45vh;
        margin-right: 25px;
        margin-bottom: 25px;
        margin-top: 0;
    }
    
    .duo {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 28vw;
        height: auto;
    }

    .deux, .pom, .fri {
        width: 27vw;
        height: 19vh;
        object-fit: contain;
        border: 1px solid rgb(240, 240, 240);
        box-shadow: 5px 5px 5px rgb(230, 230, 230);
        border-radius: 25px;
        background-color: white;
        margin-top: 0;
        margin-bottom: 45px;
    }
    
    .grand img {
        width: 27vw;
        height: 38vh;
    }

    .duo img {
        width: 27vw;
        height: 13vh;
    }

    .grand h4, .duo h4 {
        margin-left: 20px;
        margin-top: 18px;
        font-size: 1.5vw;
    }

    .deux:hover, .grand:hover, .pom:hover, .fri:hover {
        transform: none;
    }
    /* Footer */
    #Bas {
        flex-direction: row;
        justify-content: space-around;
        background-color: #F2F2F2;
    }

    #Propos {
        margin-left: -20px;
    }
    
    footer h4 {
        text-indent: 40px;
    }
    
    footer a {
        text-decoration: none;
        color: black;
    }
    
    footer li {
        list-style-type: none;  
        line-height: 30px;
    }
    
    #Charte, #Contact {
        padding-left: 0;
    }  
 }