/* Maquette Desktop */

/*------------------- Police -------------------*/
@font-face {
    font-family: 'Raleway';
    src: url(Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway-VariableFont_wght.ttf) format('truetype');
    src: url('Raleway-VariableFont_wght.ttf') format('eot');
}

#bloc_page {
    font-family: 'Raleway', Arial, serif;
    width: 80%;
    margin: auto;
} 

/*------------------- Header -------------------*/

header {
    display: flex;
    align-items: center;
}

#Logo {
    width: 60%;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 0.8em;
}

nav ul li, #Inscrire {
    padding-left: 25px;
}

#Inscrire {
    font-weight: bold;
    color: #0065FC;
}

nav a:hover {
    padding-top: 20px;
    border-top: 2px solid #0065FC;
}

/* Mobile */

#Loupe {
    display: none;
}

/*Section de recherche*/

h1 {
    font-size: 1.1em;
}

h2 {
    font-size: 0.9em;
    font-weight: normal;
}

/*Formulaire*/

form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
}

form p {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    display: flex;
}

form span {
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-map-marker-alt {
    font-size: 12px;
}

.recherche {
    width: 100%;
    border: none;
    border-top: 1px #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    color: rgb(65, 65, 65);
}

.submit {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 0.8em;
    width: 60%;
    border: none;
}

/* Filtres */

#Filtre {
    width: 80%;
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

#Filtre li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
}

#Filtre a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 0.8em;
    padding-left: 10px;
    margin-right: 6px;
    font-weight: bold;
}

.Rond {
    position: relative;
    text-align: center;
    font-size: 10px;
    color:  #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}


/* 500 logements */
.fa-info {
    text-align: center;
    font-size: 10px;
    color:  #0065FC;
    padding: 3px;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

/* Hebergements a Marseille */
.Conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    margin-right: 40px;
    border: 1px solid  #F2F2F2;
    border-radius: 20px;
    background-color:  #F2F2F2;
    padding: 20px;
    width: 58%;
    height: 50%;
}

.contenant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.Card {
    width: 250px;
    height: auto;
    padding: 5px;
    margin: 15px;
    object-fit: contain;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(165, 165, 165);
}

.Card h4, .legende, .fa-star {
    position: relative;
    top: -10px;
    left: 10px;
    padding: -20px;
    line-height : 0em;
}

.Card p, .fa-star {
    font-size: 0.9em;
}

.fa-star {
    color: #0065FC;
}

.Images {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 250px;
    height: 120px;
}

.Images2 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 250px;
    height: 120px;
}

/* Les plus populaires */

.Conteneur2 {
    display: flex;
    flex-flow: wrap column;
    width: 25%;
    height: auto;
    object-fit: contain;
    padding: 20px;
    border-radius: 20px;
    background-color:  #F2F2F2;
}

.Conteneur2 h3 {
    display: inline-block;
    padding: 0;
    
}

.contenant2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-color: yellow;
}

.Card2 {
    display: flex;
    object-fit: contain;
    width: 90%;
    margin: 15px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(165, 165, 165);
    background-color: yellowgreen;
}

.legende2, .fa-star {
    font-size: 0.9em;
    background-color: plum;
}


.legende2 {
    width: 45%;
    height: auto;
}

.fa-chart-line {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -40px;
    right: 15px;
    font-size: 1.5em;
    margin-top: 0px;
    padding-top: 0px;
}

.Images3 {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    margin-right: 15px;
    padding: 5px;
    width: 110px;
    height: 130px;
}


/* .Images3 {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: red;
    width: 35%;
    height: 50%;
}

.contenant2 {
    display: inline-block;
    width: 100%;
    float: right;
    background-color: rgb(30, 255, 0);
}

.Conteneur2 {
    display: flex;
    flex-flow: wrap column;
    width: 10%;
    height: auto;
    padding: 20px;
    border: 1px solid  #F2F2F2;
    border-radius: 30px;
    background-color:  #F2F2F2;
    background-color: peru;
    background-color: yellow;
}

.Card2 {
    width: 250px;
    height: auto;
    padding: 5px;
    margin: 15px;
    object-fit: contain;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(165, 165, 165);
    background-color: rgb(192, 120, 192);
}

.Card2 h4, .legende {
    position: relative;
    top: -10px;
    left: 10px;
    padding: -20px;
    line-height : 0em;
} */


/* Activites a Marseille */
#Grand {
    width: 100%;
    height: auto;
    background-color: rgb(255, 202, 212);
}

.Conteneur3 {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(207, 160, 160);
}

.G1 {
    display: block;
    object-fit: contain;
    margin-right: 20px;
    background-color: orange;
    margin: 5px;
    border: 1px solid #ccc;
    width: 20%;
    height: auto;
}

.G1 img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: auto;
}

.G2 {
    object-fit: contain;
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 20%;
}

.G2 img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: auto;
}

.deux {
    width: 100%;
    height: auto;
    border-radius: 25px;
    background-color: rgb(82, 204, 82);
    box-shadow: 0px 0px 5px rgb(77, 71, 71);
    object-fit: contain;
}

/* Footer */

#Bas {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #F2F2F2;
}

footer li {
    list-style-type: none;  
    line-height: 30px;
}

footer h4 {
    text-align: left;
    text-indent: 40px;
}

footer a {
    text-decoration: none;
    color: black;
}

#Charte, #Contact {
    margin-left: 15%;
    text-align: left;
}


/* Maquette Tablette */

/* Maquette Mobile */

